body {
    font-family: "Avenir";
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 0rem;
}

span {
    font-size: 1rem;
}

.top-container {
    display: flex;
    justify-content: center;
}

.sorting-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.sorting-bar {
    margin: 0px 2px;
    width: 5px;
    background-color: aqua;
}

.button-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    font-family: "Avenir";
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#speed {
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 2rem;
}

#arrSize {
    margin-top: 3rem;
    margin-right: 5rem;
    font-size: 2rem;
}
